.checkbox{
    width: 417px;
    height: 24px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    text-align: start;
    font-size: 12px;
    letter-spacing: 0.03em;
}

.checkbox__input{
    appearance:none;
}   

.checkbox__span{
    margin-right: 8px;
    width: 15px;
    height: 15px;
    border: 2px $logo-color solid;
    border-radius: 2px;

    .checkbox:hover &{
        border-color: $logo-part-color;
    }
    
    .checkbox__input:checked + &{
    background-image: url(../img1/svg/icon-check.svg);
    background-size: contain;
    background-color:$logo-part-color;
    border-color:$logo-part-color;
    background-origin: border-box;
    }
}

.checkbox__link{
    margin-left: 4px;
    color: $logo-part-color;
    text-decoration: underline;
}