.contacts{
    display: flex;
    flex-direction: column-reverse;
}

.contacts__item--color{
    margin-top: 32px;
}

.contacts__link{
    color: $logo-part-color;
    font-size: 34px;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0.02em;
}

.contacts__link--color{
    color: $primary-text-color;
    font-size: 24px;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0.02em;
}

.contacts__svg{
    display: none;
}