.contacts{
    display: flex;
}

.contacts__item:not(:last-child){
    margin-right: 40px;
}

.contacts__link{
    display: flex;
    align-items: center;
    color:$primary-text-color;
    font-size: 14px;
    font-weight: 500;
    line-height:1.14;
    letter-spacing: 0.28px;
    transition: color $cubic;

    &:hover,
    &:focus{
    color:$logo-part-color;
    }
}

.contacts__svg{
    fill: currentColor;
    margin-right: 10px;
}