.logo{
    color:$logo-part-color;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 0.03em;
}

.logo__part{
    color:$logo-color;
}

.logo__part--color{
    color:$primary-background-color;
}