.logo{
    color:$logo-part-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.78px;
}

.logo__part{
    color:$logo-color;
}

.logo__part--color{
    color:$primary-background-color;
}