.navigation-social{
    display: flex;
    margin-top: 64px;
}

.navigation-social__item:not(:last-child){
    padding-right: 10px;
    border-right: 2px solid $navigation-social-border-color;
}

.navigation-social__item:not(:first-child){
    padding-left: 10px;
}

.navigation-social__link{ 
    color: $logo-part-color;
}